/* fonts */
@font-face {
	font-family: "Noto Sans";
	src: url("fonts/Noto_Sans_TC/NotoSansTC-Regular.otf") format("opentype");
}

@font-face {
	font-family: "Noto Serif";
	src: url("fonts/Noto_Serif_TC/NotoSerifTC-Regular.otf") format("opentype");
}

body {
	margin: 0;
	height: 100%;
	min-height: 100%;
	width: 100%;
	overflow: hidden;
}

#toolbar {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: center;
	border-bottom: 1px;
	padding-bottom: 10px;
	padding-top: 8px;
	padding-left: 8px;
	top: 0;
	max-width: 70vw;
	width: 70vw;
	min-height: 1.2rem;
	left: 0;
	right: 0;
	position: absolute;
	margin: 0 auto;
	vertical-align: middle;
	text-align: center;
	z-index: 20;
	background-color: rgba(201, 76, 76, 0.0);
	opacity: 0.2;
}

label {
	margin: 0 1em;
	max-width: 100%;
}

#toolbar:hover {
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
	background-color: white;
	opacity: 1;
}

#text {
	writing-mode: vertical-rl;
	text-orientation: upright;
	max-width: 100%;
	min-width: 100%;
	float: right;
	line-height: 1.5em;
	padding-top: 3rem;
	padding-bottom: 2em;
	overflow: auto;
}

@media only screen and (max-width: 1500px) {
	#toolbar {
		max-width: 100vw;
		width: 100vw;
		max-height: 1.2rem;
		overflow: hidden;
	}

	#toolbar:hover {
		overflow: auto;
		max-height: unset;
	}
}